<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>{{}}的差值表达式</h1>
    <h3>{{ msg }}</h3>
    <h3>{{ count }}</h3>
    <h1>v-text</h1>
    <div v-text="msg"></div>
    <h1>v-model 实现双向绑定，数据变化更新视图，视图变化更新数据</h1>
    <input type="text" v-model="msg" />
    <input type="text" v-model="count" />
  </div>
  <script src="./js/vue.js"></script>

  <script>
    let vm = new Vue({
      el: "#app", // 挂载的元素
      // 数据， 响应式
      data: {
        msg: "hello word",
        count: 100,
        items: ["a", "b", "c"],
      },
    });
    console.log(vm);
  </script>
</body>

</html>